* {
  margin:0;
}
.App {
  text-align: center;
}


.header{
  background:#242E40;
  color:#FEA902;
  padding-top:20px;
}

.filters-container{
  display:flex;
}
.filter{
  width:33.330%;
  margin-top:50px;

}
.button{
  font-size: 16px;;
  padding:10px;
  margin:10px;
  border-radius:10px;
  background:#128496  ;
  color:white;
  width:300px;
}
.table-container{
    margin-left:5%;
    margin-right:5%;
    margin-top:40px;
}
.table{
  width:80%;
  border-collapse: collapse;
  margin: 0 auto;

}


table, th, td,tr {
  border: 1px solid black;
}
.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  } 
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .piechart-container{
    display:flex;
    margin-top:30px;
  }
  .piechart{
    width:50%;
  }
  